$bgColor:#f5f5f5;
$contentMaxWidth: 1024px;
$GlobalTextColor: #4A4949;
$GlobalTextSize:14px;
$HeaderHeight: 60px;
$White: white;
$pink:#F8BEAB;
$reserve-btn:#D86F4E;
// $pink:#FFCFD5;
$btn-gray:#e2e1e1;
$border-gray:#cbcbcb;

// $header-link:rgba(0,0,0,.55);
// $box-shadow:#00000029;
// $border:#E5E5E5;
// $inputbgcolor: #EEFBFB;

// 余白
$mediumMargin:70px;
$mediumPadding:70px;
$smallMargin:30px;
$smallPadding:30px;

// スマートフォン用
$spGlobalTextSize:14px;
$spTitle: 16px;
$spHeaderHeight: 60px;
$spMainTitle: 16px;
$spHumbergerMenuHeight:2px;

